//- Created by Arthur on 2017/1/11.
//- Created by Arthur on 2017/1/11.
extends ../layout

block content
    body(data-type='widgets')
        .am-g.tpl-g
            // 头部
            include ../includes/header
            // 风格切换
            include ../includes/theme
            // 侧边导航栏
            include ../includes/menu
            //内容区域
            .tpl-content-wrapper
                .row-content.am-cf
                    .row
                        .am-u-sm-12.am-u-md-12.am-u-lg-12
                            .widget.am-cf
                                .widget-head.am-cf
                                    .widget-title.am-fl #{title || '编辑个人信息'}
                                    .widget-function.am-fr
                                        a.am-icon-cog(href='javascript:;')
                                .widget-body.am-fr
                                    -if (typeof(error) !== 'undefined' && error)
                                        .am-alert.am-alert-danger
                                            strong #{error}
                                    form(action='/admin/user/edit',method='post')#editUser.am-form.tpl-form-line-form
                                        input(name='user[id]',hidden='hidden',value='#{edituser._id}',readonly)
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label 用户名：
                                            .am-u-sm-9
                                                p.am-form-control-static #{edituser.username}
                                                input(name='user[username]',hidden='hidden',value='#{edituser.username}',readonly)
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label 头像：
                                            .am-u-sm-9
                                                .am-form-group.am-form-file
                                                    #thelist.tpl-form-file-img
                                                        img(src='#{edituser.avatar}', alt='头像',width='90',height='90')
                                                    button#picker.am-btn.am-btn-danger.am-btn-xs(type='button')
                                                        i.am-icon-cloud-upload
                                                        |  修改头像
                                                    input#avatar(type='hidden',name='user[avatar]',value='#{edituser.avatar}')
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label 性别：
                                            .am-u-sm-9
                                                -if (edituser.gender == 1)
                                                    label.am-form-label 男&nbsp;&nbsp;
                                                    input.tpl-form-input(name='user[gender]', type='radio', checked , value=1)
                                                    span &nbsp;&nbsp;
                                                    label.am-form-label 女&nbsp;&nbsp;
                                                    input.tpl-form-input(name='user[gender]', type='radio',value=0)
                                                -else
                                                    label.am-form-label 男&nbsp;&nbsp;
                                                    input.tpl-form-input(name='user[gender]', type='radio',value=1)
                                                    span &nbsp;&nbsp;
                                                    label.am-form-label 女&nbsp;&nbsp;
                                                    input.tpl-form-input(name='user[gender]', type='radio', checked,value=0)
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label(for='password') 密码：
                                            .am-u-sm-9
                                                input#password.tpl-form-input(name='user[password]', type='password', placeholder='请输入密码...')
                                                small 密码长度为8-16为，且，数字、字母、字符至少包含两种。
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label(for='confirmPassword') 确认密码：
                                            .am-u-sm-9
                                                input#confirmPassword.tpl-form-input(name='user[confirmPassword]',type='password', placeholder='请再次输入密码...')
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label(for='email') 邮箱：
                                            .am-u-sm-9
                                                input#email.tpl-form-input(required='required', name='user[email]', value='#{edituser.email}' ,type='email', placeholder='请输入邮箱...')
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label 类型：
                                            .am-u-sm-9
                                                -if (user.role>=100)
                                                    -if (edituser.role >=100)
                                                        select#adminType(required='required', name='user[adminType]', data-am-selected='{searchBox:2}', style='display: none;')
                                                            option(value='0') 用户
                                                            option(value='1') 管理员
                                                            option(value='2',selected='selected') 超级管理员
                                                    -else if(edituser.role >=50)
                                                        select#adminType(required='required', name='user[adminType]', data-am-selected='{searchBox:2}', style='display: none;')
                                                            option(value='0') 用户
                                                            option(value='1',selected='selected') 管理员
                                                            option(value='2') 超级管理员
                                                    -else
                                                        select#adminType(required='required', name='user[adminType]', data-am-selected='{searchBox:2}', style='display: none;')
                                                            option(value='0',selected='selected') 用户
                                                            option(value='1') 管理员
                                                            option(value='2') 超级管理员
                                                -else if(user.role>=50)
                                                    select#admin(required='required', name='user[adminType]', data-am-selected='{searchBox:2}', style='display: none;')
                                                        option(value='0',selected='selected') 用户
                                                -else
                                                    p.am-form-control-static 用户
                                                    input(name='user[adminType]',value='0')
                                        .am-form-group
                                            label.am-u-sm-3.am-form-label(for='remark') 简介：
                                            .am-u-sm-9
                                                textarea#remark( name='user[remark]',rows='5', placeholder='我的简介', style='resize:none')= edituser.remark
                                        .am-form-group
                                            .am-u-sm-9.am-u-sm-push-3
                                                button.am-btn.am-btn-primary(type='submit') 修改
                                                a.am-btn.am-btn-warning(href='/admin/user/list',style='margin-left:5px') 取消
            script(src='/public/js/plugins/webuploader/webuploader.withoutimage.js')
            script.
                (function (WebUploader) {
                    var that = this;
                    this.uploader = WebUploader.create({
                        swf: '/public/js/plugins/webuploader/Uploader.swf',
                        server: '/upload/upload',
                        pick: $('#picker'),
                        auto: true,
                        fileSingleSizeLimit: 2 * 1024 * 1024
                    });
                    // 当有文件被添加进队列的时候
                    this.uploader.on('fileQueued', function (file) {
                        var $container = $("#thelist").html('');
                        var $item = $('<div id="' + file.id + '" class="item">' +
                                        '<img width="90" height="90" style="border-radius: 64px;display: block">' +
                                        '<p class="state">等待上传...</p>' +
                                        '</div>'),
                                $img = $item.find('img');
                        $container.html($item);
                    });
                    // 文件上传过程中创建进度条实时显示。
                    this.uploader.on('uploadProgress', function (file, percentage) {
                        var $li = $('#' + file.id),
                                $percent = $li.find('.progress .progress-bar');
                        // 避免重复创建
                        if (!$percent.length) {
                            var progress = '<div class="progress progress-striped active">' +
                                    '<div class="progress progress-bar" role="progressbar" style="width: 0%">' +
                                    '</div>' +
                                    '</div>';

                            $percent = $(progress).prependTo($li).find('.progress-bar');
                        }
                        $li.find('p.state').text('上传中');
                        $percent.css('width', percentage * 100 + '%');
                    });
                    this.uploader.on('uploadSuccess', function (file, res) {
                        if (res.success) {
                            $('#' + file.id).find('p.state').text('');
                            $('#' + file.id).find('img').attr('src', res.url);
                            $('#avatar').val(res.url);
                        }
                        else {
                            $('#' + file.id).find('p.state').text('上传错误!');
                        }
                    });
                    this.uploader.on('uploadError', function (file) {
                        $('#' + file.id).find('p.state').text('上传错误!');
                    });
                    this.uploader.on('uploadComplete', function (file) {
                        $('#' + file.id).find('.progress').fadeOut();
                    });
                    this.uploader.on('error', function (type) {
                        self.removeFile();
                        switch (type) {
                            case 'Q_EXCEED_SIZE_LIMIT':
                            case 'F_EXCEED_SIZE':
                                alert('文件太大了, 不能超过2M');
                                break;
                            case 'Q_TYPE_DENIED':
                                alert('只能上传图片');
                                break;
                            default:
                                alert('发生未知错误');
                        }
                    });
                })(window.WebUploader);
                //提示
                function showTips(txt, time, status) {
                    var htmlCon = '';
                    if (txt != '') {
                        if (status != 0 && status != undefined) {
                            htmlCon = '<div class="tipsBox" style="width:220px;padding:10px;background-color:#4AAF33;border-radius:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;color:#fff;box-shadow:0 0 3px #ddd inset;-webkit-box-shadow: 0 0 3px #ddd inset;text-align:center;position:fixed;top:25%;left:50%;z-index:999999;margin-left:-120px;"><img src="/public/img/icon/ok.png" style="vertical-align: middle;margin-right:5px;" alt="OK，"/>' + txt + '</div>';
                        } else {
                            htmlCon = '<div class="tipsBox" style="width:220px;padding:10px;background-color:#D84C31;border-radius:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;color:#fff;box-shadow:0 0 3px #ddd inset;-webkit-box-shadow: 0 0 3px #ddd inset;text-align:center;position:fixed;top:25%;left:50%;z-index:999999;margin-left:-120px;"><img src="/public/img/icon/err.png" style="vertical-align: middle;margin-right:5px;" alt="Error，"/>' + txt + '</div>';
                        }
                        $('body').prepend(htmlCon);
                        if (time == '' || time == undefined) {
                            time = 1500;
                        }
                        setTimeout(function () {
                            $('.tipsBox').remove();
                        }, time);
                    }
                }
                $(function () {
                    $('#editUser').submit(function () {
                        var avatar = $('#avatar').val();
                        var password = $('#password').val();
                        var confirmPassword = $('#confirmPassword').val();
                        var email = $('#email').val();
                        var EmailReg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; //邮件正则
                        var passwordReg = /^((?=.*\d)(?=.*\D)|(?=.*[a-zA-Z])(?=.*[^a-zA-Z]))^.{8,16}$/; //密码正则
                        var result=false;
                        if (email == '') {
                            showTips('请填写您的邮箱~');
                            result=false;
                        } else if (!EmailReg.test(email)) {
                            showTips('您的邮箱格式错咯~');
                            result=false;
                        } else {
                            result=true;
                        }
                        if (password == '' && confirmPassword == '') {
                            result = true;
                        } else if (password && !passwordReg.test(password)) {
                            showTips('您的密码格式错咯~');
                            result = false;
                        } else if (password && confirmPassword == '') {
                            showTips('请再次输入您的密码~');
                            result = false;
                        } else if (password != confirmPassword || confirmPassword != password) {
                            showTips('两次密码输入不一致呢~');
                            result = false;
                        }
                        return result;
                    })
                });